.input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
  width: 100%;
}

.input {
  border-style: solid;
  border-width: .1px;
  border-radius: 5px;
  border-color: var(--grayish-blue);
  box-sizing: border-box;
  font-size: .7rem;
  font-weight: var(--500);
  padding: 1rem;
  width: 100%;
}

.input-error {
  border-color: var(--red);
}

.input__icon {
  background-image: url(../../../assets/icon-error.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
  height: 1.25rem;
  margin-bottom: .75rem;
  margin-left: 13rem;
  position: absolute;
  width: 1.25rem;
}

.input-error__icon { 
  display: block;
  margin-bottom: 1.75rem;
}

.input__span {
  align-self: flex-end;
  color: var(--red);
  display: none;
  font-size: .7rem;
  font-style: italic;
}

.input-error__span {
  display: block;  
}

.placeholder-red::placeholder {
  color: var(--red);
}
