.submit-button {
  background-color: var(--green);
  border-radius: 5px;
  box-shadow: hsl(154, 59%, 40%) 0px 3px 1px 0px;
  color: var(--white);
  cursor: pointer;
  font-size: .9rem;
  font-weight: var(--500);
  padding: .7rem;
  text-align: center;
  text-transform: uppercase;
  transition: .25s;
  width: 100%;
}

.submit-button:hover {
  background-color: var(--light-green);
}
