.terms-and-services {
  color: var(--grayish-blue);
  font-size: .7rem;
  font-weight: var(--300);
  line-height: 2;
  padding: 0 1rem;
  text-align: center;
  transition: .3s;
}

.terms-and-services strong {
  color: var(--red);
  cursor: pointer;
  font-weight: var(--700);
}
