@import url(./header-title.css);
@import url(./header-description.css);

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 375px;
  width: 100%;
}
